<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Website</title>
    <script src="/js/delete_modal.js" defer></script>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <%- include('../partials/nav_header.ejs') %>
    </header>
        <section>
            <form class="login__form" action="/login" method="POST">

                <label for="username">Username:</label>
                <input type="text" name="username" required>
                
                <label for="password">Password:</label>
                <input type="password" name="password" required>
                <div class="buttons-wrapper">
                    <button type="submit">Login</button>
                </div>                
            </form>
        </section>
    <%- include('../partials/footer.ejs') %>
</body>

</html>