
/* Header Navigation */
$navigation-bar-color: #0E4D64;  
$navigation-font-color: #F8ECC2; 

/* Search Bar */
$navigation-border-search-color: #5B5F97; 

/* Body sections */
$main-background-color: #ffffff; 
$secondary-background-color: #F8ECC2;
$main-font-color: #5B5F97; 
$secondary-font-color: #0E4D64; 

/* See More Button */
$see-more-button-font-color: #0E4D64; 
$see-more-button-border-color: #0E4D64;
$see-more-button-background-color: transparent;
$see-more-hovered-button-background-color: #A8DADC; 

/* Default Buttons */
$default-button-font-color: #F8ECC2;
$default-button-border-color: #0E4D64;
$default-button-background-color: #0E4D64;
$default-hovered-button-font-color: #0E4D64;
$default-hovered-button-background-color: transparent;

/* Modal */
$modal-border-color: #5B5F97; 
$modal-background-color: #ffffff;
$modal-close-button-color: #0E4D64;
$model-hovered-close-button-color: #A8DADC; 