@import 'mixins';
@import 'variables';

.buttons-wrapper {
    @include column-flow-grid;
    width: fit-content;
}

button {
    @include colors-and-border($default-button-font-color, $default-button-background-color, 2px, $default-button-border-color);
    padding: 10px 15px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    text-decoration: none;
    
    &:hover {
    background-color: $default-hovered-button-background-color;
    color: $default-hovered-button-font-color;
    cursor: pointer;
    }
}

/* Navigation Admin menu buttons */
.nav__menu-buttons-wrapper {
    @include column-flow-grid;
}

.nav__menu-button {
    @include colors-and-border($default-button-background-color, $default-button-font-color, 2px, $default-button-font-color);
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 15vw; 
    
    &:hover {
        background-color: $default-button-background-color;
        color: $default-button-font-color;
    }
}


@media (max-width: 750px) {
    .nav__menu-buttons-wrapper {
        position: absolute;
        top: 15px;
        right: 30px;
        @include column-flow-grid;
        justify-content: end; 
    }

    .nav__menu-button {
        white-space: nowrap;
        max-width: 30vw; 
    }
    
}



