@import 'mixins';

.flash-message {
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 5vh;
    text-align: center;
    width: fit-content;
}

.success {
    @include colors-and-border(green, lightgreen, 1px);
}

.invalid {
    @include colors-and-border(red, pink, 1px);
}