@import 'mixins';
@import 'variables';

.footer {
    background-color: $navigation-bar-color;
    text-align: center;
    color: $navigation-font-color;
    padding: 10px 5vw 20px;
    margin: auto 0;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;

    .footer__link-container {

        list-style-type: none;
        margin-bottom: 20px;
        @include column-flow-grid;

        .footer__link, .footer__link a {

            text-decoration: none;
            color: $navigation-font-color;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .footer__copyright {
        margin: 0;
        padding: 0;
    }
}