// utils
@import 'variables';
@import 'mixins';

// components
@import './components/accordion.scss';
@import './components/button.scss';
@import './components/error.scss';
@import './components/flash_message.scss';
@import './components/form.scss';
@import './components/modal.scss';
@import './components/search.scss';

// layouts
@import './layouts/about_us.scss';
@import './layouts/coin_grid.scss';
@import './layouts/footer.scss';
@import './layouts/nav_header.scss';
@import './layouts/resources_grid.scss';

// pages
@import './pages/group_admin.scss';
@import './pages/coin_admin.scss';

* {
    scroll-behavior: smooth;
}


body {
    margin: auto 0;
    font-family: 'proxima-nova', sans-serif;
}

section {
    padding-top: 20vh;
    padding-bottom: 30vh;
}

section:nth-child(odd) {
    background-color: $secondary-background-color;
}

section:nth-child(even) {
    background-color: $main-background-color;
}

.group__title, 
.coin__title, 
.coin__resources-title,
.about__title {
    text-transform: uppercase;
}

.coin__breadcrumb a {
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

section:nth-child(even) .error__title,
section:nth-child(even) .error__description,
section:nth-child(odd) .about__title,
section:nth-child(odd) .about__description,
section:nth-child(odd) .group__title, 
section:nth-child(odd) .coin__title,
section:nth-child(odd) .coin__breadcrumb,
section:nth-child(odd) .coin__breadcrumb a, 
section:nth-child(odd) .group__description,
section:nth-child(odd) .coin__description,
section:nth-child(odd) .coin__resources-title {
    color: $secondary-font-color;
}

section:nth-child(even) .error__title,
section:nth-child(even) .error__description,
section:nth-child(even) .about__title,
section:nth-child(even) .about__description,
section:nth-child(even) .group__title, 
section:nth-child(even) .coin__title,
section:nth-child(even) .coin__breadcrumb,
section:nth-child(even) .coin__breadcrumb a, 
section:nth-child(even) .group__description,
section:nth-child(even) .coin__description,
section:nth-child(even) .coin__resources-title {
    color: $main-font-color;
}

.group__wrapper, .coin__wrapper {
    margin-left: 10vw;
    margin-right: 10vw;
}


.group__title, .coin__title  {
    font-size: 2.5rem;
}

.group__description, .coin__description {
    margin-bottom: 5vh;
}

.group__description-not-found {
    margin-bottom: 25vh;
}

/* Tablet layout */
@media (min-width: 751px) and (max-width: 1200px) {
    .group__title, .coin__title  {
        font-size: 2.2rem;
    }

    section {
        padding-top: 15vh;
        padding-bottom: 25vh;
    }
}
    
/* Mobile layout */
@media (max-width: 750px) {
    .group__title, .coin__title  {
        font-size: 1.8rem;
    }

    section {
        padding-top: 10vh;
        padding-bottom: 15vh;
    }
}

