@import 'variables';

header {
    margin-bottom: 130px;
}

.nav {
    background-color: $navigation-bar-color;
    padding: 15px 5vw 15px;
    margin: auto 0;
    display: grid;
    gap: 10px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    grid-template-columns: 1fr auto; 
    justify-content: space-between; 
    align-items: center; 
}

.nav__menu {
    display: flex; 
    list-style: none; 
    gap: 3vw;
    padding: 0; 
    margin: 0;
    text-transform: uppercase;
}

.nav__menu-title, .nav__dropdown-title a, .nav__menu-title-mobile, .nav__menu-title-mobile a {
    margin-right: 5vw; 
    color: $navigation-font-color;
    text-decoration: none;
}

.nav__menu-title {
    position: relative;
    font-size: 1rem;
    margin: auto 0;
}

.nav__icon-image {
    max-width: 125px;
    min-width: 65px;
    max-height: auto;
    width: 100%;
    margin-right: 3vw;
}

.nav__dropdown-title a, .nav__dropdown-title-mobile a {
    font-size: 0.85rem;
    white-space: nowrap;
}

.nav__dropdown {
    position: absolute;
    list-style: none;
    text-align: left;
    background-color: $navigation-bar-color;
    padding: 1.5vh 1vw 2vh;
    margin-top: 1vh;
    border: 1px solid $navigation-font-color;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.nav__menu-title:hover > .nav__dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    cursor: pointer;
}

.nav__menu-title:hover, .nav__dropdown-title:hover,
.nav__menu-title-mobile:hover, .nav__dropdown-title-mobile:hover {
    cursor: pointer;
}

.nav__dropdown-title:hover, .nav__dropdown-title-mobile:hover {
    text-decoration: underline;
}

.nav__icon-wrapper-mobile {
    display: none;
}

#nav__hamburger {
    display: none; /* Hide by default */
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 5px;
    transition: all 0.3s;
    width: 50px;
    height: 50px;
    border: none;

    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        transform: scale(1.1);
    }
}

.nav__menu-title-mobile {
    display: none;
}

/* Tablet layout */
@media (min-width: 751px) and (max-width: 1200px) {
    header {
        margin-bottom: 100px;
    }
}


@media (max-width: 750px) {

    header {
        margin-bottom: 30px;
    }

    .nav {

        height: 40px;

        #nav__hamburger {
            display: block;
        }

        .nav__menu {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 50;
            background-color: $navigation-bar-color;
            display: flex;
            flex-direction: column;
            padding: 70px 25px;
            transform: translateX(-100%);
            opacity: 0;

            .nav__icon-wrapper-mobile {
                display: block;
                margin-bottom: 20px;
            }    

            .nav__icon-wrapper, .nav__menu-title {
                display: none;
            }

            .nav__dropdown-mobile {
                display: flex; 
                list-style: none;
                margin-bottom: 20px;
            }

            .nav__menu-title-mobile, .nav__dropdown-mobile {
                display: flex;
                flex-direction: column;
                gap: 10px;
    
                .nav__dropdown-title-mobile {
                    flex: 1;
                    margin-left: -20px;
                }
            }

        }

        .nav__menu.active {
            transform: translateX(0);
            opacity: 1;
            transition: all 0.3s;
        }
    }
}

