@import 'variables';

header {
    margin-bottom: 20vh;
}

.nav {
    background-color: $navigation-bar-color;
    padding: 15px 5vw 15px;
    margin: auto 0;
    display: grid;
    gap: 10px;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    grid-template-columns: 1fr auto; 
    justify-content: space-between; 
    align-items: center; 
}

.nav__menu {
    display: flex; 
    list-style: none; 
    gap: 3vw;
    padding: 0; 
    margin: 0;
    text-transform: uppercase;
    transition: all 0.3s;

}

.nav__menu-title, .nav__dropdown-title a {
    margin-right: 5vw; 
    color: $navigation-font-color;
    text-decoration: none;
}

.nav__menu-title {
    position: relative;
    font-size: 1rem;
    margin: auto 0;
}

.nav__icon-image {
    max-width: 125px;
    min-width: 65px;
    max-height: auto;
    width: 100%;
    margin-right: 3vw;
}

.nav__dropdown-title a {
    font-size: 0.85rem;
    white-space: nowrap;
}

.nav__dropdown {
    position: absolute;
    list-style: none;
    text-align: left;
    background-color: $navigation-bar-color;
    padding: 1.5vh 1vw 2vh;
    margin-top: 1vh;
    border: 1px solid $navigation-font-color;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.nav__menu-title:hover > .nav__dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.nav__menu-title:hover, .nav__dropdown-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

#nav__hamburger {
    display: none; /* Hide by default */
}

@media (max-width: 750px) {

    header {
        margin-bottom: 0vh;
    }

    .nav {
        justify-content: flex-start; 
        grid-template-columns: 1fr; 
    }  

    #nav__hamburger {
        display: block;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        border-radius: 5px;
        transition: all 0.3s;
        width: 50px;
        height: 50px;
    }

    #nav__hamburger:hover {
        background-color: rgba(0, 0, 0, 0.7);
        transform: scale(1.1);
    }

    .nav__menu {
        max-height: 0;
        opacity: 0;
        transition: all 0.3s;  
    }

    .nav__menu.active {
        max-height: 500px;
        opacity: 1;
    }

}

