@import 'variables';

.nav__search {
    position: relative;
    width: 25vw;
    z-index: 500;
    float: right;
}

.nav__search-input {
    width: 100%;
    height: 40px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 50px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid $navigation-border-search-color;
    outline: 3px solid none;
    font-size: 1rem;
    transition: all 0.15s ease;
    
    &:focus {
        border: 1px solid none;
        outline: 2px solid $navigation-border-search-color;
    }
}

.nav__search-button {
    position: absolute;
    right: 5px;
    top: 0px;
    width: 50px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav__search-icon {
    width: 100%;
    height: 100%;
}


@media (max-width: 750px) {
    .nav__search {
        position: absolute;
        top: 15px;
        right: 30px;
        width: 50%;
    }
}

