<footer class="footer">
    <ul class="footer__link-container">
        <li class="footer__link"><a href="/#about">About Us</a></li>
        <li class="footer__link"><a href="/#faq">FAQ</a></li>
    </ul>
    <p class="footer__copyright">© 2024 The Lazy Society | All rights reserved</p>
</footer>