<nav class="nav">
    <ul class="nav__menu">
        <li class="nav__menu-title"><a href="./region">Sydney</a></li>
        <li class="nav__menu-title"><a href="./region">Melbourne</a></li>
        <li class="nav__menu-title"><a href="./region">Brisbane</a></li>
    </ul>
    <input class="nav__search" type="text" placeholder="Search">
</nav>