<nav class="nav">
    <button class="nav__hamburger">
        ☰
    </button>
    <ul class="nav__menu">
        <li class="nav__icon-wrapper">
            <a href="/">
                <img class="nav__icon-image" src="https://i0.wp.com/thelazysociety.com/wp-content/uploads/2020/02/The-Lazy-Society-logo.png?fit=220%2C194&ssl=1"/>
            </a>
        </li>
        <% categories.forEach( category => { %>
            <li class="nav__menu-title"><%= category %>
                <br/>
                <ul class="nav__dropdown">
                    <% groups.forEach( group => { %>
                        <% if (group.category === category) { %>
                            <li class="nav__dropdown-title"><a href="/<%= encode(group.group) %>"><%= group.group %></a></li>
                        <% } %>
                    <% }) %>
                </ul>
            </li>
        <% }) %>
    </ul>
    <form class="nav__search" method="GET" action="/results">
        <input class="nav__search-input" type="text" placeholder="Search a coin..." name="coin" />
        <input type="hidden" name="csrfToken" value="<%= csrfToken %>">
        <button class="nav__search-button">
            <img class="nav__search-icon" src="/icons/search.png" alt="Search Icon" />
        </button>
    </form>    
</nav>