<nav class="nav">
    <ul class="nav__menu">
        <li class="nav__menu-title"><a href="./region">Sydney</a></li>
        <li class="nav__menu-title"><a href="./region">Melbourne</a></li>
        <li class="nav__menu-title"><a href="./region">Brisbane</a></li>
    </ul>
    <div class="nav__search">
        <input class="nav__search-input" type="text" placeholder="Search a location...">
        <button class="nav__search-button">
            <img class="nav__search-icon" src="./icons/search.png" alt="Search Icon" />
        </button>
    </div>
</nav>