section {
    padding: 20vh 10vw 30vh;
}

section:nth-child(odd) {
    background-color: var(--secondary-background-color);
    color: var(--secondary-font-color);
}

section:nth-child(even) {
    background-color: var(--main-background-color);
    color: var(--main-font-color);
}

.checklist__wrapper {
    text-align: center;
}

.checklist__wrapper h1 {
    font-size: xx-large;
}

.checklist__wrapper button {
    padding: 15px 20px;
    text-transform: uppercase;
    border: 3px solid var(--primary-border-button-color);
    border-radius: 5px;
    background-color: var(--primary-button-color);
    color: var(--primary-font-button-color);
    transition: all 0.5s;
}

.checklist__wrapper button:hover {
    background-color: transparent;
    color: var(--primary-button-color);
    cursor: pointer;
}

.checklist__overlay {
    background-color: rgba(0,0,0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 250;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.15s;
}

.dark {
    opacity: 1;
}

.checklist__modal {
    background-color: white;
    color:black;
    position: fixed;
    z-index: 300;
    width: 100%;
    height: 90%;
    max-width: 700px;
    opacity: 0;
    transition: all 0.5s;
    text-align: center;
}

.active {
    transform: translateY(0);
    opacity: 1;
}

.checklist__container {
    text-align: left;
    position: fixed;
    z-index: 300;
    overflow-y: scroll;
    top: 80px;
    bottom: 50px;
    width: 100%;
    display: grid;
}

#checklist__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 5px;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    transition: all 0.3s;
    z-index: 500;
}

#checklist__close-button:hover {
    background-color: rgba(0,0,0,0.15);
    transform: scale(1.1);
}


/* Tablet layout */
@media (min-width: 751px) and (max-width: 1200px) {
    section {
        padding: 15vh 10vw 25vh;
    }
}


/* Mobile layout */
@media (max-width: 750px) {
    section {
        padding: 10vh 10vw 15vh;
    }
}

/* Mobile layout */
@media (max-width: 500px) {
    .checklist__container {
        top: 130px;
        bottom: 60px;
    }
}