<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Website</title>
    <script src="./js/grid.js" defer></script>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <header>
        <%- include('./partials/nav_header.ejs') %>
    </header>
        <section>
            <div class="location__wrapper">
                <p class="location__breadcrumb"><a href="./region"><%= regions[0].region %></a> > Bondi</p>
                <h1 class="location__title">Bondi</h1>
                <p class="location__description">Bondi is a beautiful place</p>
                <h1 class="location__amenities-title">Amenities</h1>
                
            </div>
        </section>
    <%- include('./partials/footer.ejs') %>
</body>

</html>