<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Website</title>
    <script src="./js/grid.js" defer></script>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <header>
        <%- include('./partials/nav_header.ejs') %>
    </header>
        <section>
            <div class="location__wrapper">
                <p class="location__breadcrumb"><a href="./region"><%= regions[0].region %></a> > Bondi</p>
                <h1 class="location__title">Bondi</h1>
                <p class="location__description">Bondi is a beautiful place</p>
                <h1 class="location__amenities-title">Amenities</h1>
                
                <div class="location__amenities-grid">
                    <div class="location__amenities-container">
                        <a href="./amenities">
                            <img class="location__amenities-image" src="https://assets.weforum.org/global_future_council/image/W43md-ZlCf6Ljlf_7_0dCuSsNZ3BfPc9fwCLnNxFTSo.jpg" alt="" />
                            <h3 class="location__amenities-category">Education</h3>
                        </a>
                    </div>
                    <div class="location__amenities-container">
                        <a href="./amenities">
                            <img class="location__amenities-image" src="https://www.macquariecentre.com.au/getmedia/611ebf83-8695-43ad-b78d-ca87902f9b74/L_Restaurant_Shared_Lunch_1.jpg?width=8510&height=5674&ext=.jpg" alt="" />
                            <h3 class="location__amenities-category">Food & Dining</h3>
                        </a>
                    </div>
                    <div class="location__amenities-container">
                        <a href="./amenities">
                            <img class="location__amenities-image" src="https://www.nrpa.org/uploadedImages/wwwparksandrecreationorg/Articles/2016/April/Social-equity.jpg" alt="" />
                            <h3 class="location__amenities-category">Recreation</h3>
                        </a>
                    </div>
                    <div class="location__amenities-container">
                        <a href="./amenities">
                            <img class="location__amenities-image" src="https://www.visitchatswood.com.au/files/assets/chatswood/v/1/generic-images/chatswood-chase1.jpg?w=1080" alt="" />
                            <h3 class="location__amenities-category">Shopping</h3>
                        </a>
                    </div>
                    <div class="location__amenities-container">
                        <a href="./amenities">
                            <img class="location__amenities-image" src="https://assets.primecreative.com.au/imagegen/cr/340/255/s3/cougar-assets/abcau/2016/10/14/131712/Untitled-1.jpg" alt="" />
                            <h3 class="location__amenities-category">Transportation</h3>
                        </a>
                    </div>
                    <div class="location__amenities-container">
                        <a href="./amenities">
                            <img class="location__amenities-image" src="https://static.wixstatic.com/media/285f80_78a3d7d19da8413b8f2ca675a3ebb2d8~mv2.jpg/v1/fill/w_560,h_228,al_t,q_80,usm_0.66_1.00_0.01,enc_auto/285f80_78a3d7d19da8413b8f2ca675a3ebb2d8~mv2.jpg" alt="" />
                            <h3 class="location__amenities-category">Safety</h3>
                        </a>
                    </div>
                    <div class="location__amenities-container">
                        <a href="./amenities">
                            <img class="location__amenities-image" src="https://surfculture.com.au/cdn/shop/collections/Surf-Culture-Bondi-Road_41601388-0bf4-43ef-a445-e5b15992ef18.jpg?v=1625840925" alt="" />
                            <h3 class="location__amenities-category">Culture</h3>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    <%- include('./partials/footer.ejs') %>
</body>

</html>
