.location__amenities-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px; /* Default height */
    gap: 5px;
}

.location__amenities-container {
    position: relative; /* If you want to add text overlay or other elements */
    overflow: hidden;
    width: 100%;
}

.location__amenities-image {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    transition: all 0.5s ease;
}

.location__amenities-image:hover {
    filter: brightness(80%);
    transform: scale(1.1); 
    cursor: pointer;
}

.location__amenities-category {
    color: var(--secondary-font-color);
    opacity: 0.7;
    position: absolute;
    text-align: end;
    bottom: 10px;
    right: 10px;
    font-size: 1.25rem;
    transition: all 0.5s ease; 
}

.location__amenities-container:hover .location__amenities-category {
    opacity: 1;
    transform: scale(1.25);
    right: 20px;
}

.location__amenities-container:nth-child(5n + 1) {
    grid-column-end: span 2;
    grid-row-end: span 6;
}

.location__amenities-container:nth-child(5n + 2),
.location__amenities-container:nth-child(5n + 3),
.location__amenities-container:nth-child(5n + 4),
.location__amenities-container:nth-child(5n + 5),
.location__amenities-container:nth-child(5n + 6),
.location__amenities-container:nth-child(5n + 7) {
    grid-column-end: span 1;
    grid-row-end: span 2;
}
