.buttons-wrapper {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    width: fit-content;
}

button {
    background-color: var(--default-button-background-color);
    color: var(--default-button-font-color);
    border: 2px solid var(--default-button-border-color);
    padding: 10px 15px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    text-decoration: none;
}


button:hover {
    background-color: var(--default-hovered-button-background-color);
    color: var(--default-hovered-button-font-color);
    cursor: pointer;
}

/* Navigation Admin menu buttons */
.nav__menu-buttons-wrapper {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

.nav__menu-button {
    background-color: white;
    color: var(--default-hovered-button-font-color);
    border: 2px solid white;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 15vw; 
}

.nav__menu-button:hover {
    background-color: var(--default-button-background-color);
    color: var(--default-button-font-color);
}


@media (max-width: 750px) {
    .nav__menu-buttons-wrapper {
        position: absolute;
        top: 15px;
        right: 30px;
        display: grid;
        grid-auto-flow: column;
        justify-content: end; 
        gap: 10px;
    }

    .nav__menu-button {
        white-space: nowrap;
        max-width: 30vw; 
    }
    
}



