.coin__resources-title {
    margin-top: 10vh;    
}

.coin__resources-grid--admin {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px; 
    gap: 5px;
}

.coin__resources-container--admin {
    position: relative; 
    overflow: hidden;
    width: 100%;
}

.coin__resources-image--admin {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    transition: all 0.5s ease;
}

.coin__resources-group--admin {
    color: var(--navigation-font-color);
    opacity: 0.7;
    position: absolute;
    text-align: end;
    bottom: 10px;
    right: 10px;
    transition: all 0.5s ease; 
}

.coin__resources-container--admin:nth-child(5n + 1) {
    grid-column-end: span 2;
    grid-row-end: span 6;
}

.coin__resources-container--admin:nth-child(5n + 2),
.coin__resources-container--admin:nth-child(5n + 3),
.coin__resources-container--admin:nth-child(5n + 4),
.coin__resources-container--admin:nth-child(5n + 5),
.coin__resources-container--admin:nth-child(5n + 6),
.coin__resources-container--admin:nth-child(5n + 7) {
    grid-column-end: span 1;
    grid-row-end: span 2;
}

/* Control buttons */
.coin__admin-controls {
    position: absolute;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    gap: 10px;
    width: 100%;
}

.coin__admin-controls button:hover {
    background-color: white;
}

.coin__resource-button-container {
    border: 1px solid var(--see-more-button-border-color);
    background-color: var(--see-more-button-background-color);
    color: var(--see-more-button-border-color);
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    text-decoration: none;
}

.coin__resource-button-container:hover {
    cursor: pointer;
    background-color: var(--see-more-hovered-button-background-color);
    transition: all 0.5s ease;
}

.coin__resource-more,
.coin__resource-button {
    color: var(--see-more-button-font-color);
    font-size: 1.5rem;
    transition: all 0.5s ease;
}

.coin__resource-more {
    margin-top: 20%;
}

.coin__resource-button {
    background-color: transparent;
    border: none;
}

/* Tablet layout */
@media (min-width: 751px) and (max-width: 1200px) {
    .coin__resource-more {
        margin-top: 15%;
    }
}

/* Mobile layout */
@media (max-width: 750px) {
    .coin__resources-container--admin:nth-child(5n + 1) {
        grid-column-end: span 2;
        grid-row-end: span 3;
    }
    
    .coin__resources-container--admin:nth-child(5n + 2),
    .coin__resources-container--admin:nth-child(5n + 3),
    .coin__resources-container--admin:nth-child(5n + 4),
    .coin__resources-container--admin:nth-child(5n + 5),
    .coin__resources-container--admin:nth-child(5n + 6),
    .coin__resources-container--admin:nth-child(5n + 7) {
        grid-column-end: span 1;
        grid-row-end: span 1;
    }

    .coin__admin-controls {
        grid-template-columns: 1fr;
    }

    .coin__resource-more {
        margin-top: 10%;
    }

    .coin__resource-button {
        font-size: 1rem;
    }
}