
/* At Location Page */
.location__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.location__container, .location__image {
    width: 100%;
}

/* At Main Regions Page Page */
.region__location-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.region__location-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
}

.region__location-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(50%);
    transition: all 0.5s ease; 
}

.region__location-image:hover {
    filter: brightness(80%);
    transform: translate(-50%, -50%) scale(1.1); 
    cursor: pointer;
}

.region__location-title {
    color: var(--secondary-font-color);
    opacity: 0.7;
    position: absolute;
    text-align: end;
    bottom: 10px;
    right: 10px;
    font-size: 1.25rem;
    transition: all 0.5s ease; 
}

.region__location-container:hover .region__location-title {
    opacity: 1;
    transform: scale(1.25);
    right: 20px;
}

.region__location-button-container {
    border: 1px solid var(--see-more-button-border-color);
    background-color: var(--see-more-button-background-color);
    color: var(--see-more-button-border-color);
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    text-decoration: none;
}

.region__location-button-container:hover {
    cursor: pointer;
    background-color: var(--see-more-hovered-button-background-color);
    transition: all 0.5s ease;
}

.region__location-button-container:hover .region__location-more,
.region__location-button-container:hover .region__location-button {
    cursor: pointer;
    transform: scale(1.25);
}

.region__location-more, 
.region__location-button {
    color: var(--see-more-button-font-color);
    font-size: 1.5rem;
    transition: all 0.5s ease;
}

.region__location-more {
    margin-top: 50%;
}

.region__location-button {
    background-color: transparent;
    border: none;
}

/* Tablet layout */
@media (min-width: 751px) and (max-width: 1200px) {

    .location__grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .region__location-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .region__location-container {
        height: 250px;
    }
}
    
/* Mobile layout */
@media (max-width: 750px) {

    .location__grid {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .region__location-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .region__location-container {
        height: 200px;
    }
}
