@import './variables.css';
@import './nav_header.css';
@import './about_us.css';
@import './amenities_grid.css';
@import './location_grid.css';
@import './footer.css';

body {
    margin: auto 0;
    font-family: 'proxima-nova', sans-serif;
}

section {
    padding-top: 10vh;
    padding-bottom: 20vh;
}

section:nth-child(odd) {
    background-color: var(--secondary-background-color);
}

section:nth-child(even) {
    background-color: var(--main-background-color);
}

.region__title a,
.location__title a {
    text-decoration: none;
}

.region__title a:hover,
.location__title a:hover {
    text-decoration: underline;
}

section:nth-child(odd) .region__title, 
section:nth-child(odd) .location__title,
section:nth-child(odd) .region__title a, 
section:nth-child(odd) .location__title a, 
section:nth-child(odd) .region__description,
section:nth-child(odd) .location__description,
section:nth-child(odd) .location__amenities-title {
    color: var(--secondary-font-color);
}

section:nth-child(even) .region__title, 
section:nth-child(even) .location__title,
section:nth-child(even) .region__title a, 
section:nth-child(even) .location__title a,
section:nth-child(even) .region__description,
section:nth-child(even) .location__description,
section:nth-child(even) .location__amenities-title {
    color: var(--main-font-color);
}

.region__wrapper, .location__wrapper {
    margin-left: 10vw;
    margin-right: 10vw;
}


.region__title, .location__title  {
    font-size: 3rem;
}

.region__description, .location__description {
    margin-bottom: 5vh;
}
