@import './variables.css';
@import './nav_header.css';
@import './location_admin.css';
@import './region_admin.css';
@import './search.css';
@import './about_us.css';
@import './button.css';
@import './modal.css';
@import './form.css';
@import './flash_message.css';
@import './amenities_grid.css';
@import './location_grid.css';
@import './article.css';
@import './error.css';
@import './footer.css';


body {
    margin: auto 0;
    font-family: 'proxima-nova', sans-serif;
}

header {
    margin-bottom: 10vh;
}

section {
    padding-top: 10vh;
    padding-bottom: 20vh;
}

section:nth-child(odd) {
    background-color: var(--secondary-background-color);
}

section:nth-child(even) {
    background-color: var(--main-background-color);
}

.region__title, 
.location__title, 
.location__amenities-title,
.about__title {
    text-transform: uppercase;
}

.location__breadcrumb a {
    text-decoration: none;
}

.location__breadcrumb a:hover {
    text-decoration: underline;
}

section:nth-child(even) .error__title,
section:nth-child(even) .error__description,
section:nth-child(odd) .about__title,
section:nth-child(odd) .about__description,
section:nth-child(odd) .region__title, 
section:nth-child(odd) .location__title,
section:nth-child(odd) .location__breadcrumb,
section:nth-child(odd) .location__breadcrumb a, 
section:nth-child(odd) .region__description,
section:nth-child(odd) .location__description,
section:nth-child(odd) .location__amenities-title {
    color: var(--secondary-font-color);
}

section:nth-child(even) .error__title,
section:nth-child(even) .error__description,
section:nth-child(even) .about__title,
section:nth-child(even) .about__description,
section:nth-child(even) .region__title, 
section:nth-child(even) .location__title,
section:nth-child(even) .location__breadcrumb,
section:nth-child(even) .location__breadcrumb a, 
section:nth-child(even) .region__description,
section:nth-child(even) .location__description,
section:nth-child(even) .location__amenities-title {
    color: var(--main-font-color);
}

.region__wrapper, .location__wrapper {
    margin-left: 10vw;
    margin-right: 10vw;
}


.region__title, .location__title  {
    font-size: 3rem;
}

.region__description, .location__description {
    margin-bottom: 5vh;
}

.region__description-not-found {
    margin-bottom: 25vh;
}