@import './variables.css';
@import './nav_header.css';
@import './group_admin.css';
@import './coin_admin.css';
@import './search.css';
@import './about_us.css';
@import './button.css';
@import './modal.css';
@import './form.css';
@import './flash_message.css';
@import './resources_grid.css';
@import './coin_grid.css';
@import './error.css';
@import './footer.css';


body {
    margin: auto 0;
    font-family: 'proxima-nova', sans-serif;
}

header {
    margin-bottom: 10vh;
}

section {
    padding-top: 10vh;
    padding-bottom: 20vh;
}

section:nth-child(odd) {
    background-color: var(--secondary-background-color);
}

section:nth-child(even) {
    background-color: var(--main-background-color);
}

.group__title, 
.coin__title, 
.coin__resources-title,
.about__title {
    text-transform: uppercase;
}

.coin__breadcrumb a {
    text-decoration: none;
}

.coin__breadcrumb a:hover {
    text-decoration: underline;
}

section:nth-child(even) .error__title,
section:nth-child(even) .error__description,
section:nth-child(odd) .about__title,
section:nth-child(odd) .about__description,
section:nth-child(odd) .group__title, 
section:nth-child(odd) .coin__title,
section:nth-child(odd) .coin__breadcrumb,
section:nth-child(odd) .coin__breadcrumb a, 
section:nth-child(odd) .group__description,
section:nth-child(odd) .coin__description,
section:nth-child(odd) .coin__resources-title {
    color: var(--secondary-font-color);
}

section:nth-child(even) .error__title,
section:nth-child(even) .error__description,
section:nth-child(even) .about__title,
section:nth-child(even) .about__description,
section:nth-child(even) .group__title, 
section:nth-child(even) .coin__title,
section:nth-child(even) .coin__breadcrumb,
section:nth-child(even) .coin__breadcrumb a, 
section:nth-child(even) .group__description,
section:nth-child(even) .coin__description,
section:nth-child(even) .coin__resources-title {
    color: var(--main-font-color);
}

.group__wrapper, .coin__wrapper {
    margin-left: 10vw;
    margin-right: 10vw;
}


.group__title, .coin__title  {
    font-size: 3rem;
}

.group__description, .coin__description {
    margin-bottom: 5vh;
}

.group__description-not-found {
    margin-bottom: 25vh;
}