.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0, 0.4);
    padding-top: 20vh;
    z-index: 100;
}

.modal__content {
    background-color: var(--modal-background-color);
    margin: 5% auto;
    padding: 5vh 3vw 7vh;
    border: 1px solid var(--modal-border-color);
    width: 60%;
}

.modal__close-button {
    color: var(--modal-close-button-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal__message {
    color: var(--main-font-color);
    margin-bottom: 5vh;
    font-size: 20px;
}

.modal__close-button:hover,
.modal__close-button:focus {
    color: var(--modal-hovered-close-button-color);
    text-decoration: none;
    cursor: pointer;
}

.modal__buttons-wrapper {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    width: 45%;
}