header {
    margin-bottom: 20vh;
}

.nav {
    background-color: var(--navigation-bar-color);
    padding: 15px 5vw 15px;
    margin: auto 0;
    display: grid;
    gap: 10px;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    grid-template-columns: 1fr auto; 
    justify-content: space-between; 
    align-items: center; 
}

.nav__menu {
    display: flex; 
    list-style: none; 
    gap: 3vw;
    padding: 0; 
    margin: 0;
    text-transform: uppercase;
    transition: all 0.3s;

}

.nav__menu-title, .nav__dropdown-title a {
    margin-right: 5vw; 
    color: var(--navigation-font-color);
    text-decoration: none;
}

.nav__menu-title {
    position: relative;
    font-size: 1.5rem;
    margin: auto 0;
}

.nav__icon-image {
    max-width: 175px;
    min-width: 125px;
    max-height: auto;
    width: 100%;
    margin-right: 3vw;
}

.nav__dropdown-title a {
    font-size: 1rem;
    white-space: nowrap;
}

.nav__dropdown {
    position: absolute;
    list-style: none;
    text-align: left;
    background-color: var(--navigation-bar-color);
    padding: 1.5vh 1vw 2vh;
    margin-top: 1vh;
    border: 1px solid var(--navigation-font-color);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.nav__menu-title:hover > .nav__dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.nav__menu-title:hover, .nav__dropdown-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Tablet layout */
@media (min-width: 751px) and (max-width: 1200px) {

    .nav__menu-title {
        font-size: 1.25rem;
    }
    
    .nav__menu-title a {
        font-size: 1.0rem;
    }

}
    
/* Mobile layout */
@media (max-width: 750px) {

    .nav__menu-title {
        font-size: 1rem;
    }

    .nav__menu-title a {
        font-size: 0.75rem;
    }

}

.nav__hamburger {
    display: none; /* Hide by default */
    width: 50px;
}

@media (max-width: 750px) {

    header {
        margin-bottom: 0vh;
    }

    .nav {
        justify-content: flex-start; 
        grid-template-columns: 1fr; 
    }  

    .nav__hamburger {
        display: block;
        background-color: rgb(105, 109, 109);
        border-radius: 5px;
    }

    .nav__menu {
        max-height: 0;
        opacity: 0;
        transition: all 0.3s;  
    }

    .nav__menu.active {
        max-height: 500px;
        opacity: 1;
    }

}

