.nav__search {
    position: relative;
    width: 25vw;
}

.nav__search-input {
    width: 100%;
    height: 40px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 50px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid var(--navigation-border-search-color);
    outline: 3px solid none;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.nav__search-input:focus {
    border: 1px solid none;
    outline: 1.5px solid var(--navigation-border-search-color);
}

.nav__search-button {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 50px;
    height: 80%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav__search-icon {
    width: 75%;
    height: 75%;
}
