:root {

    /* Header Navigation */
    --navigation-bar-color: #1E4E79;
    --navigation-font-color: #FDF6E3;

    /* Search Bar */
    --navigation-border-search-color: #FFB459; 

    /* Body sections */
    --main-background-color: #FDF6E3;
    --secondary-background-color: #FFB459; 
    --main-font-color: #1E4E79;
    --secondary-font-color: #FDF6E3;

    /* See More Button */
    --see-more-button-font-color: #1E4E79;
    --see-more-button-border-color: #1E4E79;
    --see-more-button-background-color: transparent;
    --see-more-hovered-button-background-color: #FFB459; 

    /* Default Buttons */
    --default-button-font-color: #FDF6E3;
    --default-button-border-color: #1E4E79;
    --default-button-background-color: #1E4E79;
    --default-hovered-button-font-color: #1E4E79;
    --default-hovered-button-background-color: #FFB459; 

    /* Article */
    --article-background-color: transparent;
    --article-font-color: #1E4E79;

    /* Modal */
    --modal-border-color: #FFB459; 
    --modal-background-color: #FDF6E3;
    --modal-close-button-color: #1E4E79;
    --model-hovered-close-button-color: #FFB459; 
}
