:root {

    /* Header Navigation */
    --navigation-bar-color: #323031;
    --navigation-font-color: #FFFFFF;

    /* Search Bar */
    --navigation-border-search-color: #C1BDB3;


    /* Body sections */
    --main-background-color: #FFFFFF;
    --secondary-background-color: #7F7979;
    --main-font-color: #7F7979;
    --secondary-font-color: #FFFFFF;

    /* See More Button */
    --see-more-button-font-color: #3D3B3C;
    --see-more-button-border-color: #3D3B3C;
    --see-more-button-background-color: transparent;
    --see-more-hovered-button-background-color: #BFC0C0;

    /* Default Buttons */
    --default-button-font-color: #FFFFFF;
    --default-button-border-color: #3D3B3C;
    --default-button-background-color: #3D3B3C;
    --default-hovered-button-font-color: #3D3B3C;
    --default-hovered-button-background-color: transparent;

    /* Article */
    --article-background-color: transparent;
    --article-font-color: #7F7979;
}
