:root {
    /* Header Navigation */
    --navigation-bar-color: #2A6A8F;  
    --navigation-font-color: #FAF3E0;

    /* Body sections */
    --main-background-color: #FAF3E0; 
    --secondary-background-color: #ba9167;  
    --main-font-color: #2A6A8F;  
    --secondary-font-color: #FAF3E0;  

    /* Style for accordion components */
    --border-color: #7DA7BE; 
    --separation-line-color: #508FA2;  
    --accordion-header-color: #7DA7BE;  
    --accordion-header-hovered-color: #508FA2;  

    /* Style for button */
    --primary-button-color: #2A6A8F;
    --primary-border-button-color: #2A6A8F; 
    --primary-font-button-color: #FAF3E0; 
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    background-color: var(--main-background-color);
}
