body {
    margin: auto 0;
    font-family: 'proxima-nova', sans-serif;
}

.nav {
    background-color: rgb(0, 100, 62);
    padding: 2vh 3vw;
    margin: auto 0;
}

.nav__search {
    width: 250px;
    height: 20px;
    padding: 5px;
    border-radius: 50px;
}

section {
    padding-top: 10vh;
    padding-bottom: 20vh;
}

section:nth-child(odd) {
    background-color: rgb(173, 185, 40);
}

section:nth-child(even) {
    background-color: white;
}

section:nth-child(odd) .region__title, 
section:nth-child(odd) .region__description, 
section:nth-child(odd) .region__location-title {
    color: white;
}

section:nth-child(even) .region__title, 
section:nth-child(even) .region__description {
    color: rgb(173, 185, 40);;
}

section:nth-child(even) .region__location-title {
    color: rgb(247, 255, 163);;
}


.region__wrapper {
    margin-left: 10vw;
    margin-right: 10vw;
}


.region__title {
    font-size: 3rem;
}

.region__description {
    margin-bottom: 5vh;
}

.region__location-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.region__location-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
}

.region__location-container:hover .region__location-title {
    opacity: 1;
    transform: scale(1.3);
    right: 20px;
}

.region__location-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(60%);
    transition: all 0.3s ease; 
}

.region__location-image:hover {
    filter: brightness(85%);
    transform: translate(-50%, -50%) scale(1.1); 
    cursor: pointer;
}

.region__location-title {
    opacity: 0.7;
    position: absolute;
    text-align: end;
    bottom: 10px;
    right: 10px;
    font-size: 1.25rem;
    transition: all 0.3s ease; 
}

/* Tablet layout */
@media (min-width: 751px) and (max-width: 1200px) {
    .region__location-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .region__location-container {
        height: 250px;
    }
}
    
/* Mobile layout */
@media (max-width: 750px) {
    .region__location-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .region__location-container {
        height: 200px;
    }
}
