.accordion__header {
    background-color: #f7f7f7;
    color: #333;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2rem;
    transition: background-color 0.6s;
}

.accordion__header:hover {
    background-color: #ddd;
}

.accordion__content {
    background-color: white;
    border-top: 1px solid #f7f7f7;
    padding: 1rem;
}
