header {
    margin-bottom: 20vh;
}

.nav {
    background-color: var(--navigation-bar-color);
    padding: 15px 5vw 15px;
    margin: auto 0;
    display: grid;
    gap: 10px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

.nav__menu {
    display: flex; 
    list-style: none; 
    gap: 3vw;
    padding: 0; 
    margin: 0;
    text-transform: uppercase;
    align-items: center;
}

.nav__menu__title {
    margin-right: 5vw; 
    color: var(--navigation-font-color);
    text-decoration: none;
    font-size: 1.5rem;
}

.nav__icon__image {
    max-width: 175px;
    min-width: 75px;
    max-height: auto;
    width: 100%;
    margin-right: 3vw;
}

.nav__menu__title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav__hamburger {
    font-size: xx-large;
    display: none;
    position: fixed;
    top: 30px;
    left: 30px;
    width: 45px;
    height: 45px;
    background-color: rgba(0,0,0,0.3);
    color: white;
    border-radius: 5px;
    transition: all 0.5s;
    text-align: center;
    border: none;
    z-index: 200;
}

.nav__hamburger:hover {
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.nav__top__bar {
    display: none;
}

/* Tablet layout */
@media (min-width: 751px) and (max-width: 1200px) {

}

.hidden {
    transform: translateY(-100%); /* This will move the header up out of view */
    transition: transform 0.3s ease-in-out;
}

    
/* Mobile layout */
@media (max-width: 750px) {
    header {
        margin-bottom: 0;
    }

    .nav {
        bottom: 0;
        right: 50%;
        transform: translateX(-100%);
        opacity: 0;
        transition: all 0.25s;
    }

    .nav__top__bar {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: var(--navigation-bar-color);
    }
    
    .nav__icon__image__mobile {
        max-width: 50px;
        max-height: auto;
        width: 100%;
        margin: 15px 50px;
        float: right;
    }
    

    .nav.navOpen {
        transform: translateX(0); 
        opacity: 1;
    }

    .nav__menu {
        flex-direction: column;
        gap: 5vh;
        align-items: start;
        position: relative;
        margin-top: 20vh;
        margin-left: 3vw;
    }

    .nav__icon__wrapper {
        display: none;
    }

    .nav__hamburger {
        display: block;
    }

    .nav__overlay {
        position: fixed;
        z-index: 50;
        background-color: black;
        opacity: 0.5;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    } 
    
}

