@import '../sass/mixins';
@import '../sass/variables';

header {
    margin-bottom: 150px;
}

.navigation {
    @include position(fixed, 0, 0, auto, 0);
    z-index: 100;
    background-color: $navigation-bar-color;
    padding: 15px 5vw 15px;
    margin: 0 auto;
    display: grid;
    transition: transform 0.3s;
    width: 1800px;
}

.navigation__menu-list {
    display: flex; 
    list-style: none; 
    gap: 20px;
    padding: 0; 
    margin-left: 20px;
    text-transform: uppercase;
    align-items: center;
}

.navigation__menu-item {
    margin-right: 5vw; 
    color: $navigation-font-color;
    text-decoration: none;
    font-size: 1rem;
}

.navigation__menu-item a {
    color: $navigation-font-color;
    text-decoration: none;
}

.navigation__logo {
    max-width: 125px;
    min-width: 65px;
    max-height: auto;
    width: 100%;
    margin-right: 3vw;
}

.navigation__menu-item:hover {
    cursor: pointer;
}

.navigation__highlight {
    border-bottom: 5px solid transparent;
    transform: scaleX(0);
    transform-origin: left; 
    transition: all 0.35s;
}

.navigation__menu-item:hover > .navigation__highlight {
    border-bottom: 5px solid $navigation-font-color;
    transform: scaleX(1);
}

.navigation__toggle-btn {
    font-size: 45px;
    display: none;
    position: fixed;
    top: 15px;
    left: 10px;
    padding: 0px;
    height: 60px;
    width: 60px;
    background-color: rgba(0,0,0,0.3);
    color: white;
    border-radius: 5px;
    transition: all 0.5s;
    border: none;
    z-index: 200;
    margin: 0 auto;
}

.navigation__toggle-btn:hover {
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.navigation__mobile-topbar {
    display: none;
    transition: transform 0.3s;
}

.navigation__mobile-menu-list {
    display: none;
}

.hidden {
    transform: translateY(-100%); /* This will move the elements up out of view */
}
    
/* Mobile layout */
@media (max-width: 750px) {
    header {
        margin-bottom: 50px;
    }

    .navigation {
        display: none;
    }

    .navigation__mobile-menu-list {
        display: flex;
        gap: 5vh;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 35%;
        bottom: 0;
        left: 0;
        background-color: $navigation-bar-color;
        list-style: none; 
        margin: 0;
        padding: 25vh 10vw; 
        text-transform: uppercase;
        z-index: 100;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .navigation__mobile-menu-list.navigation__mobile-menu--open {
        transform: translateX(0);
    }

    .navigation__mobile-topbar {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: $navigation-bar-color;
    }
    
    .navigation__mobile-logo {
        max-width: 50px;
        max-height: auto;
        width: 100%;
        margin: 15px 50px;
        float: right;
    }
    

    .navigation__logo-wrapper {
        display: none;
    }

    .navigation__toggle-btn {
        display: block;
    }

    .navigation__overlay {
        position: fixed;
        z-index: 50;
        background-color: black;
        opacity: 0.5;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

}



