.tiers__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3vh;
}

.tiers__container {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 3vh 3vw;
    transition: all 0.5s;
    border-radius: 10px;
}

.tiers__container h3, .tiers__container h6 {
    text-align: center;
    margin: 0;
}

.list__grid {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    gap: 10px;
}

.list__grid li {
    background-color: rgb(50, 50, 50);
    position: relative;
    border-radius: 10px;
}

.image__container {
    width: 100%;
    min-height: 200px;
    max-height: 250px;
    position: relative;
    display: flex;          
    align-items: center;    
    justify-content: center; 
    overflow: hidden;
    border-radius: 10px;
    opacity: 0.45; 
    transition: all 0.5s; 
}

.image__container:hover {
    opacity: 0.70;
    cursor: pointer;
}

.service__image {
    width: 100%;
    height: auto;       
    object-fit: cover;
    transition: all 0.5s;
    display: flex;          
    align-items: center;    
    justify-content: center; 
}

.service__image:hover {
    transform: scale(1.1);
}

.service__label {
    padding: 10px;
    position: absolute;
    top: 0;
}

/* Tablet layout */
@media (min-width: 751px) and (max-width: 1200px) {
    .list__grid {
        grid-template-columns: 1fr 1fr;
    }
}


/* Mobile layout */
@media (max-width: 750px) {
    .list__grid {
        grid-template-columns: 1fr;
    }    
}