<nav class="nav">
    <ul class="nav__menu">
        <% categories.forEach( category => { %>
            <li class="nav__menu-title"><%= category %>
                <br/>
                <ul class="nav__dropdown">
                    <% groups.forEach( group => { %>
                        <% if (group.category === category) { %>
                            <li class="nav__dropdown-title"><a href="/<%= group.group %>/admin"><%= group.group %></a></li>
                        <% } %>
                    <% }) %>
                </ul>
            </li>
        <% }) %>
    </ul>
    <div class="nav__menu-buttons-wrapper">
        <a href="/admin/add-group-form"><button class="nav__menu-button">Add Group</button></a>
        <a href="/logout">
            <form action="/logout" method="POST">
                <input type="hidden" name="csrfToken" value="<%= csrfToken %>">
                <button class="nav__menu-button" type="submit">Logout</button>
            </form>
        </a>
    </div>
</nav>