<nav class="nav">
    <button class="nav__hamburger">
        ☰
    </button>
    <ul class="nav__menu">
        <li class="nav__icon-wrapper">
            <img class="nav__icon-image" src="https://i0.wp.com/thelazysociety.com/wp-content/uploads/2020/02/The-Lazy-Society-logo.png?fit=220%2C194&ssl=1"/>
        </li>
        <% categories.forEach( category => { %>
            <li class="nav__menu-title"><%= category %>
                <br/>
                <ul class="nav__dropdown">
                    <% groups.forEach( group => { %>
                        <% if (group.category === category) { %>
                            <li class="nav__dropdown-title"><a href="/<%= group.group %>/admin"><%= group.group %></a></li>
                        <% } %>
                    <% }) %>
                </ul>
            </li>
        <% }) %>
    </ul>
    <div class="nav__menu-buttons-wrapper">
        <a href="/admin/add-group-form"><button class="nav__menu-button">Add Group</button></a>
        <a href="/logout">
            <form action="/logout" method="POST">
                <input type="hidden" name="csrfToken" value="<%= csrfToken %>">
                <button class="nav__menu-button" type="submit">Logout</button>
            </form>
        </a>
    </div>
</nav>